<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <script src="{{ url_for('static', filename = 'home.js') }}"></script>
</head>
<body>
{#<img style="cursor: pointer;display: block;margin: 0 auto" class="main" src="static/images/404.png" alt="404 error">#}
<img src="/static/images/404.png"
     style="display: block;width: 40%;height: auto;margin: 0 auto;" alt="404 picture">
<a style="display: block;
    text-align: center;
    color: red;
    text-decoration: none;
    margin: 12px;" href="{{ url_for('getAllNewsByType',id=1) }}">返回首页</a>
</body>
</html>